@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.CVVersjon

@{
    ViewBag.Title = "Personlig Informasjon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/personal")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/personal")
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Legg til</h4>
            </div>
            <div id="modalAddText" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="modalDontAddItem" type="button" class="btn btn-default" data-dismiss="modal">Nei</button>
                <button id="modalAddItem" type="button" class="btn btn-success">Ja</button>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <h2 class="col-lg-offset-1">Personlig Informasjon</h2>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">


                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Fornavn</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Fornavn" id="@Html.DisplayNameFor(m => Model.Person.Fornavn)-txt">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Mellomnavn</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Mellomnavn" id="@Html.DisplayNameFor(m => Model.Person.Mellomnavn)-txt">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Etternavn</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Etternavn" id="@Html.DisplayNameFor(m => Model.Person.Etternavn)-txt">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Nasjonalitet</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Nasjonalitet" id="@Html.DisplayNameFor(m => Model.Person.Nasjonalitet)-txt">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Fødselsår</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Fødselsår" id="@Html.DisplayNameFor(m => Model.Person.Fødselsår)-txt">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Stilling</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Stilling" id="@Html.DisplayNameFor(m => Model.Person.Stilling)-txt">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>År erfaring</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.ÅrErfaring" id="@Html.DisplayNameFor(m => Model.Person.ÅrErfaring)-txt">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Innstillinger.Språk)
{
    <div class="container">
        <div class="row">

            <h2 class="col-lg-offset-1">Språk</h2>

            <div class="panel panel-default col-lg-10 col-lg-offset-1">
                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="form-group">
                            <div class="col-lg-10">
                                <input id="@Html.DisplayNameFor(m => Model.Person.Språk)-auto" type="text" class="form-control add-item-auto typeahead" data-provide="typeahead" autocomplete="off">
                            </div>
                            <div class="col-lg-1">
                                <button id="@Html.DisplayNameFor(m => Model.Person.Språk)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div id="@Html.DisplayNameFor(m => Model.Person.Språk)-group" class="col-lg-12 added-btn-group">
                                @if (!string.IsNullOrEmpty(Model.Person.Språk))
                                {
                                    foreach (var value in Model.Person.Språk.Split(';'))
                                    {
                                        <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                    }

                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}




