@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.PersonalModel

@{
    ViewBag.Title = "Personlig Informasjon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/personal")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/personal")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-user"></i> @ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Informasjon</div>
                <div class="panel-body">

                    <div class="form-horizontal">

                        <div class="form-group">
                            <label for="@Html.DisplayNameFor(m => Model.BrukerCv.Person.Fornavn)-txt" class="col-lg-2 control-label">Fornavn</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control update-txt col-lg-10" value="@Model.BrukerCv.Person.Fornavn" id="@Html.DisplayNameFor(m => Model.BrukerCv.Person.Fornavn)-txt">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="@Html.DisplayNameFor(m => Model.BrukerCv.Person.Mellomnavn)-txt" class="col-lg-2 control-label">Mellomnavn</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control update-txt col-lg-10" value="@Model.BrukerCv.Person.Mellomnavn" id="@Html.DisplayNameFor(m => Model.BrukerCv.Person.Mellomnavn)-txt">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="@Html.DisplayNameFor(m => Model.BrukerCv.Person.Etternavn)-txt" class="col-lg-2 control-label">Etternavn</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control update-txt col-lg-10" value="@Model.BrukerCv.Person.Etternavn" id="@Html.DisplayNameFor(m => Model.BrukerCv.Person.Etternavn)-txt">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nasjonalitet-select" class="col-lg-2 control-label">Nasjonalitet</label>
                            <div class="col-lg-10">
                                <select id="nasjonalitet-select" class="form-control">

                                    @if (String.IsNullOrWhiteSpace(Model.BrukerCv.Person.Nasjonalitet.ToString()))
                                    {
                                        <option selected>Ingen nasjonalitet valgt</option>

                                        foreach (var Nasjonalitet in Model.Nasjonaliteter)
                                        {
                                            <option value="@Nasjonalitet.ListeKatalogId">@Nasjonalitet.Element</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var Nasjonalitet in Model.Nasjonaliteter)
                                        {
                                            if (Model.BrukerCv.Person.Nasjonalitet.Equals(Nasjonalitet.ListeKatalogId))
                                            {
                                                <option selected value="@Nasjonalitet.ListeKatalogId">@Nasjonalitet.Element</option>
                                            }
                                            else
                                            {
                                                <option value="@Nasjonalitet.ListeKatalogId">@Nasjonalitet.Element</option>
                                            }
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="birthday-date" class="col-lg-2 control-label">Fødselsdato</label>
                            <div class="col-lg-10">
                                @if (Model.BrukerCv.Person.Fødselsår.Equals(null))
                                {
                                    <input id="birthday-date" value="" class="form-control" type="text">
                                }
                                else
                                {
                                    <input id="birthday-date" value="@Model.BrukerCv.Person.Fødselsår.Value.ToString("dd. MMMM yyyy")" class="form-control" type="text">
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="stillinger-select" class="col-lg-2 control-label">Stilling</label>
                            <div class="col-lg-10">
                                <select id="stillinger-select" class="form-control">

                                    @if (String.IsNullOrWhiteSpace(Model.BrukerCv.Person.Stilling.ToString()))
                                    {
                                        <option selected>Ingen stilling valgt</option>

                                        foreach (var Stilling in Model.Stillinger)
                                        {
                                            <option value="@Stilling.ListeKatalogId">@Stilling.Element</option>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var Stilling in Model.Stillinger)
                                        {
                                            if (Model.BrukerCv.Person.Stilling.Equals(Stilling.ListeKatalogId))
                                            {
                                                <option selected value="@Stilling.ListeKatalogId">@Stilling.Element</option>
                                            }
                                            else
                                            {
                                                <option value="@Stilling.ListeKatalogId">@Stilling.Element</option>
                                            }
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="@Html.DisplayNameFor(m => Model.BrukerCv.Person.ÅrErfaring)-txt" class="col-lg-2 control-label">År erfaring før Geomatikk</label>
                            <div class="col-lg-10">
                                @if (Model.BrukerCv.Person.ÅrErfaring.Equals(null))
                                {
                                    <input type="text" class="form-control update-txt col-lg-10" value="" id="@Html.DisplayNameFor(m => Model.BrukerCv.Person.ÅrErfaring)-txt">
                                }
                                else
                                {
                                    <input type="text" class="form-control update-txt col-lg-10" value="@Model.BrukerCv.Person.ÅrErfaring" id="@Html.DisplayNameFor(m => Model.BrukerCv.Person.ÅrErfaring)-txt">
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="geomatikk-start-date" class="col-lg-2 control-label">Startdato i Geomatikk</label>
                            <div class="col-lg-10">
                                @if (Model.BrukerCv.Person.StartDato.Equals(null))
                                {
                                    <input id="geomatikk-start-date" value="" class="form-control" type="text">
                                }
                                else
                                {
                                    <input id="geomatikk-start-date" value="@Model.BrukerCv.Person.StartDato.Value.ToString("dd. MMMM yyyy")" class="form-control" type="text">
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
