@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.CVVersjon

@{
    ViewBag.Title = "Utdannelse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/education")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/education")
}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rediger</h4>
            </div>
            <div id="EditModalAddText" class="modal-body">

                <h4 id="editLoader">Jobber <i class="fa fa-spinner fa-spin"></i></h4>
                <input id="edit-txt" type="text" class="form-control" autocomplete="off">
                <select id="modal-select" class="form-control">
                    @for (var i = 0; i <= 100; i++)
                    {
                        <option>@(@DateTime.Now.Year - i)</option>
                    }
                </select>

            </div>
            <div class="modal-footer">
                <button id="editmodalDontAddItem" type="button" class="btn btn-default" data-dismiss="modal">Avslutt (Esc)</button>
                <button id="editmodalAddItem" type="button" class="btn btn-success">Endre (Enter)</button>
            </div>
        </div>
    </div>
</div>

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul id="Utdannelse-tabs" class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#my-education-tab" aria-controls="my-education-tab" role="tab" data-toggle="tab">Min utdannelse</a></li>
        <li role="presentation"><a href="#new-education-tab" aria-controls="new-education-tab" role="tab" data-toggle="tab">Legg til utdannelse</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my-education-tab">

            <h4 id="elem-load">Laster utdannelse.. <i class="fa fa-spinner fa-spin"></i></h4>

            <table id="education-table" class="table table-hover table-bordered hidden">
                <thead>
                    <tr>
                        <th>Studiested</th>
                        <th>Beskrivelse</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Slett</th>
                    </tr>
                </thead>
                <tbody></tbody>


            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="new-education-tab">

            <div class="form-horizontal">

                <div class="form-group">
                    <label for="school-text" class="col-lg-2 control-label">Studiested</label>
                    <div class="col-lg-8">
                        <input id="school-text" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div id="school-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="education-text" class="col-lg-2 control-label">Beskrivelse</label>
                    <div class="col-lg-8">
                        <input id="education-text" type="text" class="form-control" autocomplete="off">
                    </div>
                    <div id="education-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="education-select-from" class="col-lg-2 control-label">Fra</label>
                    <div class="col-lg-8">
                        <select id="education-select-from" class="form-control">
                            @for (var i = 0; i <= 100; i++)
                            {
                                <option>@(@DateTime.Now.Year - i)</option>
                            }
                        </select>
                    </div>
                    <div id="education-select-from-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="education-select-to" class="col-lg-2 control-label">Til</label>
                    <div class="col-lg-8">
                        <select id="education-select-to" class="form-control">
                            @for (var i = 0; i <= 100; i++)
                            {
                                <option>@(@DateTime.Now.Year - i)</option>
                            }
                        </select>
                    </div>
                    <div id="education-select-to-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <button id="education-add-btn" class="btn btn-success" type="button">Legg til ny utdannelse</button>
                    </div>
                    <div id="education-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>











