@using System.Web.Optimization

@model CV.Models.CVVersjon

@{
    ViewBag.Title = Model.Person.Fornavn + " " + Model.Person.Etternavn + " - Tilpass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/customize")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/customize")
}

<div class="container">
    <div class="row">
        
        <div id="personal-info-panel" class="panel panel-primary">
            <!-- Personal info panel start -->
            <div class="panel-heading">Personlig Informasjon</div>
            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Fornavn</label>
                        <div class="col-lg-10">
                            <input disabled type="text" class="form-control" value="@Model.Person.Fornavn" id="FirstName" placeholder="Fornavn">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Etternavn</label>
                        <div class="col-lg-10">
                            <input disabled type="text" class="form-control" value="@Model.Person.Etternavn" id="LastName" placeholder="Etternavn">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Stilling</label>
                        <div class="col-lg-10">
                            <input disabled type="text" class="form-control" value="@Model.Person.Stilling" id="Position" placeholder="Stilling">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="YearsExperience" class="col-lg-2 control-label">År Erfaring</label>
                        <div class="col-lg-10">
                            <input disabled type="text" class="form-control" value="@Model.Person.ÅrErfaring" id="YearsExperience" placeholder="Antall år relevant erfaring" aria-describedby="basic-addon2">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Språk</label>

                        <div class="col-lg-10">
                            @foreach (var UserLanguage in Model.Person.Språk.Split(';'))
                            {
                                <button type="button" class="btn btn-info added-btn" tabindex="-1">@UserLanguage</button>
                            }
                        </div>

                    </div>
                </form>

            </div>
        </div> <!-- Personal info panel end -->


        <div id="expertise-panel" class="panel panel-primary">
            <!-- Expertise info panel start -->
            <div class="panel-heading">Nøkkelkompetanse</div>
            <div class="panel-body">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">Programmeringsspråk</label>

                        <div class="col-lg-10">
                            @foreach (var UserProgrammingLanguage in Model.Kompetanse.Programmeringsspråk.Split(';'))
                            {
                                <button type="button" class="btn btn-info added-btn" tabindex="-1">@UserProgrammingLanguage</button>
                            }
                        </div>

                    </div>

                    <hr />

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Rammeverk</label>

                        <div class="col-lg-10">
                            @foreach (var UserFramework in Model.Kompetanse.Rammeverk.Split(';'))
                            {
                                <button type="button" class="btn btn-info added-btn" tabindex="-1">@UserFramework</button>
                            }
                        </div>

                    </div>

                    <hr />

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Web-teknologier</label>

                        <div class="col-lg-10">
                            @foreach (var UserWebTech in Model.Kompetanse.WebTeknologier.Split(';'))
                            {
                                <button type="button" class="btn btn-info added-btn" tabindex="-1">@UserWebTech</button>
                            }
                        </div>

                    </div>

                    <hr />

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Databasesystemer</label>

                        <div class="col-lg-10">
                            @foreach (var UserDatabases in Model.Kompetanse.Databasesystemer.Split(';'))
                            {
                                <button type="button" class="btn btn-info added-btn" tabindex="-1">@UserDatabases</button>
                            }
                        </div>

                    </div>

                    <hr />

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Serverside</label>

                        <div class="col-lg-10">
                            @foreach (var UserServerside in Model.Kompetanse.Serverside.Split(';'))
                            {
                                <button type="button" class="btn btn-info added-btn" tabindex="-1">@UserServerside</button>
                            }
                        </div>

                    </div>

                    <hr />

                    <div class="form-group">
                        <label class="col-lg-2 control-label">Operativsystemer</label>

                        <div class="col-lg-10">
                            @foreach (var UserOperatingSystems in Model.Kompetanse.Operativsystemer.Split(';'))
                            {
                                <button type="button" class="btn btn-info added-btn" tabindex="-1">@UserOperatingSystems</button>
                            }
                        </div>

                    </div>
                </form>

            </div>
        </div> <!-- Expertise info panel end -->


        <div id="form-options" class="container">
            <div>
                <!-- Split button -->
                <div class="btn-group">
                    <button type="button" id="download-button" class="btn btn-primary">@Html.ActionLink("Last ned PDF", "Pdf", "Download", new { Model.CVVersjonId }, new { @id = "download-link" })</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>PDF</a></li>
                        <li><a>Word</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>