@using System.Web.Optimization

@model GeoCV.Models.TekniskProfilModel

@{
    ViewBag.Title = "Tekniske profiler oversikt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/tekniskprofil")
}
@section scripts{
    @Scripts.Render("~/bundles/js/tekniskprofil")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Tekniske profiler oversikt</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-filter"></i> Prosjekt filter</div>
                <div class="panel-body">

                    <input type="text" class="form-control" id="prosjekt-filter" placeholder="Filter">

                </div>
            </div>

        </div>


        <div class="col-sm-4 col-sm-offset-4">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-filter"></i> Katalog filter</div>
                <div class="panel-body">

                    <input type="text" class="form-control" id="katalog-filter" placeholder="Filter">

                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-folder-open"></i> Velg prosjekt</div>
                <div class="panel-body">

                    <table id="prosjekt-tabell" class="table table-hover sortable">
                        <thead>
                            <tr>
                                <th data-sort="string">Kunde <i class="fa fa-sort pull-right"></i></th>
                                <th data-sort="string">Prosjekt navn <i class="fa fa-sort pull-right"></i></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Prosjekt in Model.Prosjekter)
                            {
                                <tr id="@Prosjekt.ProsjektId" data-id="@Prosjekt.ProsjektId" data-kunde="@Prosjekt.Kunde" data-navn="@Prosjekt.Navn">
                                    <td class="col-sm-3">@Prosjekt.Kunde</td>
                                    <td class="col-sm-3">@Prosjekt.Navn</td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
            </div>

        </div>


        <div class="col-sm-4">


            @foreach (var Prosjekt in Model.Prosjekter)
            {
                foreach (var TekniskProfil in Prosjekt.TekniskProfil)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-code"></i> @TekniskProfil.Navn (@Prosjekt.ProsjektId)</div>
                        <div class="panel-body">

                            <table id="prosjekt-tabell" class="table table-hover sortable">
                                <thead>
                                    <tr>
                                        <th>Element</th>
                                        <th>Katalog</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ElementString in TekniskProfil.Elementer.Split(';'))
                                    {
                                        foreach (var KatalogElement in Model.KatalogElementer)
                                        {
                                            if (KatalogElement.ListeKatalogId.ToString().Equals(ElementString))
                                            {
                                                <tr>
                                                    <td>@KatalogElement.Element</td>
                                                    <td>@KatalogElement.Katalog</td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                }
            }


        </div>

        <div class="col-sm-4">

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-database"></i> Velg elementer</div>
                <div class="panel-body">

                    <table id="katalog-tabell" class="table table-hover sortable">
                        <thead>
                            <tr>
                                <th data-sort="string">Element <i class="fa fa-sort pull-right"></i></th>
                                <th data-sort="string">Katalog <i class="fa fa-sort pull-right"></i></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Element in Model.KatalogElementer)
                            {
                                <tr>
                                    <td class="col-sm-3">@Element.Element</td>
                                    <td class="col-sm-3">@Element.Katalog</td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>
</div>
