@using System.Web.Optimization

@model GeoCV.Models.Prosjekt

@{
    ViewBag.Title = "Rediger Prosjekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/editproject")
}
@section scripts{
    @Scripts.Render("~/bundles/js/editproject")
}

<!-- Slett modal -->
<div class="modal fade" id="slettModal" tabindex="-1" role="dialog" aria-labelledby="slettModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="slettModalLabel">Slett</h4>
            </div>
            <div class="modal-body">
                Er du sikker på at du vil slette <code id="profil-slett-etikett"></code> profilen?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nei (Esc)</button>
                <button id="slett-profil-btn" type="button" class="btn btn-primary">Ja</button>
                <i class="fa fa-spinner fa-spin fa-2x hidden"></i>
            </div>
        </div>
    </div>
</div>

<!-- Endre modal -->
<div class="modal fade" id="endreModal" tabindex="-1" role="dialog" aria-labelledby="endreModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="endreModalLabel">Endre</h4>
            </div>
            <div class="modal-body">
                <input id="endre-txt" type="text" class="form-control" autocomplete="off">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Avslutt (Esc)</button>
                <button id="endre-profil-btn" type="button" class="btn btn-primary">Endre (Enter)</button>
                <i class="fa fa-spinner fa-spin fa-2x hidden"></i>
            </div>
        </div>
    </div>
</div>

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#rediger-prosjekt" aria-controls="rediger-prosjekt" role="tab" data-toggle="tab">Rediger prosjekt</a></li>
        <li role="presentation"><a href="#tekniske-profiler" aria-controls="tekniske-profiler" role="tab" data-toggle="tab">Tekniske profiler</a></li>
        <li role="presentation"><a href="#ny-teknisk-profil" aria-controls="ny-teknisk-profil" role="tab" data-toggle="tab">Ny teknisk profil</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="rediger-prosjekt">
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(m => Model.Navn)-txt" class="col-lg-2 control-label">Navn</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control update-txt" value="@Model.Navn" id="@Html.DisplayNameFor(m => Model.Navn)-txt" autocomplete="off">
                    </div>
                    <div id="@Html.DisplayNameFor(m => Model.Navn)-txt-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(m => Model.Kunde)-txt" class="col-lg-2 control-label">Kunde</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control update-txt" value="@Model.Kunde" id="@Html.DisplayNameFor(m => Model.Kunde)-txt" autocomplete="off">
                    </div>
                    <div id="@Html.DisplayNameFor(m => Model.Kunde)-txt-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="@Html.DisplayNameFor(m => Model.Beskrivelse)-txt" class="col-lg-2 control-label">Beskrivelse</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control update-txt" value="@Model.Beskrivelse" id="@Html.DisplayNameFor(m => Model.Beskrivelse)-txt" autocomplete="off">
                    </div>
                    <div id="@Html.DisplayNameFor(m => Model.Beskrivelse)-txt-label" class="col-lg-2 side-label hidden">
                        <span class="label label-warning">Oppdaterer <i class="fa fa-spinner fa-pulse"></i></span>
                    </div>
                </div>

            </div>
        </div>





        <div role="tabpanel" class="tab-pane" id="tekniske-profiler">

            <div id="filter-row" class="row col-lg-12">
                <div class="col-lg-6">
                    <input id="alle-elementer-filter" type="text" class="form-control table-filter" placeholder="Filter" autocomplete="off">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="col-lg-12">
                        <table id="alle-elementer-tabell" class="table element-table">
                            <thead>
                                <tr>
                                    <th class="col-lg-3">Element</th>
                                    <th class="col-lg-2">Katalog</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-6">


                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <!-- Legg til paneler -->

                    </div>
                </div>
            </div>

        </div>



        <div role="tabpanel" class="tab-pane" id="ny-teknisk-profil">
            <div id="tech-form" class="form-horizontal">

                <div class="form-group">
                    <label for="ny-profil-navn-txt" class="col-lg-2 control-label">Navn</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="ny-profil-navn-txt" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <button id="ny-profil-lagre-btn" type="button" class="btn btn-success" tabindex="-1">Legg til</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>













