@using System.Web.Optimization

@model GeoCV.Models.Prosjekt

@{
    ViewBag.Title = "Rediger Prosjekt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/editproject")
}
@section scripts{
    @Scripts.Render("~/bundles/js/editproject")
}

<div class="row">
    <div class="col-lg-12">

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#rediger-prosjekt" aria-controls="rediger-prosjekt" role="tab" data-toggle="tab">Rediger Prosjekt</a></li>
                <li role="presentation"><a href="#tekniske-profiler" aria-controls="tekniske-profiler" role="tab" data-toggle="tab">Tekniske Profiler</a></li>
                <li role="presentation"><a href="#ny-teknisk-profil" aria-controls="ny-teknisk-profil" role="tab" data-toggle="tab">Ny Teknisk Profil</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="rediger-prosjekt">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-horizontal">

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Navn</label>
                                        <input type="text" class="form-control update-txt" value="@Model.Navn" id="@Html.DisplayNameFor(m => Model.Navn)-txt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Kunde</label>
                                        <input type="text" class="form-control update-txt" value="@Model.Kunde" id="@Html.DisplayNameFor(m => Model.Kunde)-txt">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Beskrivelse</label>
                                        <input type="text" class="form-control update-txt" value="@Model.Beskrivelse" id="@Html.DisplayNameFor(m => Model.Beskrivelse)-txt">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>





                <div role="tabpanel" class="tab-pane" id="tekniske-profiler">

                    <div class="row">
                        <div class="col-lg-12">

                            @foreach (var Item in Model.TekniskProfil)
                            {
                                <h2>@Item.Navn</h2>
                                <h5>@Item.Elementer.Replace(';', ',')</h5>
                                
                            }

                        </div>
                    </div>


                </div>



                <div role="tabpanel" class="tab-pane" id="ny-teknisk-profil">

                    <div class="row">
                        <div class="col-lg-12">

                            <h4 id="tech-load">Laster inn <i class="fa fa-spinner fa-pulse"></i></h4>

                            <div id="tech-form" class="form-horizontal hidden">

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label>Navn</label>
                                        <input type="text" class="form-control" id="tech-name" placeholder="Navn for ny teknisk profil">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-10">
                                        <input id="tech-auto" type="text" class="form-control" placeholder="Legg til element" data-provide="typeahead" autocomplete="off">
                                    </div>
                                    <div class="col-lg-1">
                                        <button id="tech-add-btn" type="button" class="btn btn-success" tabindex="-1">Legg til</button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div id="tech-group" class="col-lg-12 added-btn-group">

                                    </div>
                                </div>

                                <hr />

                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button id="tech-save-btn" type="button" class="btn btn-success" tabindex="-1">Lagre Profil</button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>


</div>





