@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.MineProsjekterIndexModel

@{
    ViewBag.Title = "Mine prosjekter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/MineProsjekterIndex")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/MineProsjekterIndex")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Mine prosjekter</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div id="mine-prosjekter-panel" class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-folder-open"></i> Prosjekter</div>
                <div class="panel-body">

                    <ul class="list-group">
                        @foreach (var Prosjekt in Model.Data)
                        {
                            <li class="list-group-item list-group-item-default" data-prosjektid="@Prosjekt.ProsjektId"><div class="list-group-item-text">@Prosjekt.ProsjektNavn</div><i class="fa fa-chevron-right pull-right hidden" data-prosjektid="@Prosjekt.ProsjektId"></i></li>
                        }
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-4">

            @foreach (var Prosjekt in Model.Data)
            {
                <div class="panel panel-info prosjekt-panel hidden" data-prosjektid="@Prosjekt.ProsjektId">
                    <div class="panel-heading"><i class="fa fa-info"></i> @Prosjekt.ProsjektNavn</div>
                    <div class="panel-body">

                        <div class="form-horizontal">

                            <div class="form-group">
                                <label for="stilling-@Prosjekt.ProsjektId" class="col-lg-2 control-label">Stilling</label>
                                <div class="col-lg-10">
                                    <select class="form-control stilling-select" data-prosjektid="@Prosjekt.ProsjektId">

                                        @if (Prosjekt.MedlemRolle.Equals(null))
                                        {
                                            <option selected></option>
                                        }

                                        @foreach (var Stilling in Model.Stillinger)
                                        {
                                            if (Prosjekt.MedlemRolle.Equals(Stilling.ListeKatalogId))
                                            {
                                                <option selected value="@Stilling.ListeKatalogId">@Stilling.Element</option>
                                            }
                                            else
                                            {
                                                <option value="@Stilling.ListeKatalogId">@Stilling.Element</option>
                                            }
                                        }

                                    </select>

                                </div>

                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Fra</label>
                                <div class="col-lg-10">
                                    <input class="form-control kalender" type="text" value="@Prosjekt.MedlemStart.ToString("dd. MMMM yyyy")" data-prosjektid="@Prosjekt.ProsjektId">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Til</label>
                                <div class="col-lg-10">
                                    <input class="form-control kalender" type="text" value="@Prosjekt.MedlemSlutt.ToString("dd. MMMM yyyy")" data-prosjektid="@Prosjekt.ProsjektId">
                                </div>
                            </div>

                        </div>



                    </div>
                </div>

                    <div class="panel panel-danger prosjekt-panel hidden" data-prosjektid="@Prosjekt.ProsjektId">
                        <div class="panel-heading"><i class="fa fa-trash"></i> Fjern</div>
                        <div class="panel-body">
                            <button type="button" class="btn btn-danger col-lg-12 fjern-prosjekt-btn" data-prosjektid="@Prosjekt.ProsjektId">Fjern fra mine prosjekter</button>
                        </div>
                    </div>

            }

        </div>

        <div class="col-sm-4">

            @foreach (var Prosjekt in Model.Data)
            {
                <div class="panel panel-info prosjekt-panel hidden" data-prosjektid="@Prosjekt.ProsjektId">
                    <div class="panel-heading"><i class="fa fa-code"></i> Teknisk profil</div>
                    <div class="panel-body">

                        <select class="form-control teknisk-profil-select" data-prosjektid="@Prosjekt.ProsjektId">

                            @if (Prosjekt.MedlemTekniskProfil.Equals(null))
                            {
                                <option selected value="Teknisk profil ikke valgt"></option>

                                foreach (var Profil in Prosjekt.ProsjektTekniskProfil)
                                {
                                    <option value="@Profil.TekniskProfilId">@Profil.Navn</option>
                                }
                            }
                            else
                            {
                                foreach (var Profil in Prosjekt.ProsjektTekniskProfil.Where(x => x.TekniskProfilId.Equals(Prosjekt.MedlemTekniskProfil)))
                                {
                                    <option selected value="@Profil.TekniskProfilId">@Profil.Navn</option>
                                }
                                foreach (var Profil in Prosjekt.ProsjektTekniskProfil.Where(x => x.TekniskProfilId != Prosjekt.MedlemTekniskProfil))
                                {
                                    <option value="@Profil.TekniskProfilId">@Profil.Navn</option>
                                }
                            }

                        </select>


                        @if (Prosjekt.MedlemTekniskProfil.Equals(null))
                        {
                            foreach (var Profil in Prosjekt.ProsjektTekniskProfil)
                            {
                                <div class="well hidden" data-tekniskprofilid="@Profil.TekniskProfilId">
                                    @foreach (var ElementId in Profil.Elementer.Split(';'))
                                    {
                                        foreach (var Element in Model.Katalog)
                                        {
                                            if (Element.ListeKatalogId.ToString().Equals(ElementId))
                                            {
                                                <div>@Element.Element</div>
                                            }
                                        }
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            foreach (var Profil in Prosjekt.ProsjektTekniskProfil.Where(x => x.TekniskProfilId.Equals(Prosjekt.MedlemTekniskProfil)))
                            {
                                <div class="well" data-tekniskprofilid="@Profil.TekniskProfilId">
                                    @foreach (var ElementId in Profil.Elementer.Split(';'))
                                    {
                                        foreach (var Element in Model.Katalog)
                                        {
                                            if (Element.ListeKatalogId.ToString().Equals(ElementId))
                                            {
                                                <div>@Element.Element</div>
                                            }
                                        }
                                    }
                                </div>
                            }
                            foreach (var Profil in Prosjekt.ProsjektTekniskProfil.Where(x => x.TekniskProfilId != Prosjekt.MedlemTekniskProfil))
                            {
                                <div class="well hidden" data-tekniskprofilid="@Profil.TekniskProfilId">
                                    @foreach (var ElementId in Profil.Elementer.Split(';'))
                                    {
                                        foreach (var Element in Model.Katalog)
                                        {
                                            if (Element.ListeKatalogId.ToString().Equals(ElementId))
                                            {
                                                <div>@Element.Element</div>
                                            }
                                        }
                                    }
                                </div>
                            }
                        }

                    </div>
                </div>
            }

        </div>

    </div>
</div>