@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model IQueryable<GeoCV.Models.Prosjekt>

@{
    ViewBag.Title = "Prosjekter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/myprojects")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/myprojects")
}

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#my-projects" aria-controls="my-projects" role="tab" data-toggle="tab">Mine prosjekter</a></li>
        <li role="presentation"><a href="#new-project" aria-controls="new-project" role="tab" data-toggle="tab">Legg til prosjekt</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my-projects">


        </div>


        <div role="tabpanel" class="tab-pane" id="new-project">
            <div id="filter-row">
                <div class="col-lg-6">
                    <input id="alle-elementer-filter" type="text" class="form-control table-filter" placeholder="Filter" autocomplete="off">

                    <table id="alle-prosjekter-tabell" class="table">
                        <thead>
                            <tr>
                                <th data-sort="string" class="col-lg-5">Prosjekt <i class="fa pull-right hidden"></i></th>
                                <th data-sort="string" class="col-lg-5">Kunde <i class="fa pull-right hidden"></i></th>
                                <th class="col-lg-2"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Item in Model)
                            {
                                <tr id="@Item.ProsjektId">
                                    <td>@Item.Navn</td>
                                    <td>@Item.Kunde</td>
                                    <td><i class="fa fa-plus-square fa-lg velg-prosjekt-btn"></i></td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>


                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Prosjekt navn</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label for="prosjekt-fra" class="col-lg-2 control-label">Fra</label>
                                    <div class="col-lg-10">
                                        <input id="prosjekt-fra" class="form-control" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="prosjekt-til" class="col-lg-2 control-label">Til</label>
                                    <div class="col-lg-10">
                                        <input id="prosjekt-til" class="form-control" type="text">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
            </div>
        </div>

    </div>
</div>





