@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.MyProjectViewModel

@{
    ViewBag.Title = "Prosjekter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/myprojects")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/myprojects")
}

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#my-projects" aria-controls="my-projects" role="tab" data-toggle="tab">Mine prosjekter <span id="prosjekter-badge" class="badge">@Model.Data.Count()</span></a></li>
        <li role="presentation"><a href="#new-project" aria-controls="new-project" role="tab" data-toggle="tab">Legg til prosjekt</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my-projects">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                <div id="trenger-profil-warning" class="alert alert-info hidden" role="alert">Ingen prosjekter er lagt til. <br />Gå til <a>Legg til prosjekt</a> for å legge til prosjekter.</div>

                @foreach (var Item in Model.Data)
                {
                    <!-- Legg til paneler -->
                    <div id="@Item.ProsjektId-panel" class="panel panel-default">
                        <div class="panel-heading" role="tab" id="@Item.ProsjektId-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@Item.ProsjektId-collapse" aria-expanded="true" aria-controls="@Item.ProsjektId-collapse">
                                    @Item.ProsjektNavn
                                </a>
                            </h4>
                        </div>
                        <div id="@Item.ProsjektId-collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@Item.ProsjektId-heading">
                            <div class="panel-body">
                                <!-- Panel innhold -->

                                <div class="col-lg-6">

                                    <div class="form-horizontal">

                                        <div class="form-group">
                                            <label for="stilling-@Item.ProsjektId" class="col-lg-2 control-label">Stilling</label>
                                            <div class="col-lg-10">
                                                <select id="stilling-@Item.ProsjektId" class="form-control stilling-select">

                                                    @if (Item.MedlemRolle.Equals(0))
                                                    {
                                                        <option selected>Ingen rolle valgt</option>
                                                    }

                                                    @foreach (var Stilling in Model.Stillinger)
                                                    {
                                                        if (Item.MedlemRolle.Equals(Stilling.ListeKatalogId))
                                                        {
                                                            <option selected value="@Stilling.ListeKatalogId">@Stilling.Element</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@Stilling.ListeKatalogId">@Stilling.Element</option>
                                                        }
                                                    }

                                                </select>

                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label for="prosjekt-fra-@Item.ProsjektId" class="col-lg-2 control-label">Fra</label>
                                            <div class="col-lg-10">
                                                <input id="prosjekt-fra-@Item.ProsjektId" class="form-control kalender" type="text" value="@Item.MedlemStart.ToString("dd. MMMM yyyy")">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="prosjekt-til-@Item.ProsjektId" class="col-lg-2 control-label">Til</label>
                                            <div class="col-lg-10">
                                                <input id="prosjekt-til-@Item.ProsjektId" class="form-control kalender" type="text" value="@Item.MedlemSlutt.ToString("dd. MMMM yyyy")">
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-6">

                                    <select id="stilling-@Item.ProsjektId" class="form-control stilling-select">

                                        @foreach (var Profil in Item.ProsjektTekniskProfil)
                                        {
                                            <option value="@Profil.TekniskProfilId">@Profil.Navn</option>
                                        }

                                    </select>



                                </div>



                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>


        <div role="tabpanel" class="tab-pane" id="new-project">
            <div class="row">

                <div class="col-lg-8">
                    <input id="alle-elementer-filter" type="text" class="form-control table-filter" placeholder="Filter" autocomplete="off">

                    <table id="alle-prosjekter-tabell" class="table">
                        <thead>
                            <tr>
                                <th data-sort="string" class="col-lg-5">Prosjekt <i class="fa pull-right hidden"></i><i class="fa fa-sort pull-right"></i></th>
                                <th data-sort="string" class="col-lg-5">Kunde <i class="fa pull-right hidden"></i><i class="fa fa-sort pull-right"></i></th>
                                <th class="col-lg-2"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Item in Model.Prosjekt)
                            {
                                <tr id="@Item.ProsjektId">
                                    <td>@Item.Navn</td>
                                    <td>@Item.Kunde</td>

                                    @{
                                        int LagtTil = 0;
                                    }

                                    @foreach (var BrukerProsjekt in Model.Data)
                                    {
                                        if (BrukerProsjekt.ProsjektId.Equals(Item.ProsjektId) && LagtTil <= 0)
                                        {
                                            <td>Lagt til</td>
                                            LagtTil = 1;
                                        }
                                    }

                                    @if (LagtTil == 0)
                                    {
                                        <td><i class="fa fa-plus-square fa-lg velg-prosjekt-btn"></i></td>
                                    }

                                </tr>
                            }
                        </tbody>


                    </table>
                </div>

                <div class="col-lg-3 col-lg-offset-1">
                    <div class="alert alert-info" role="alert">Velg prosjekter som du har jobbet på, og gå deretter til <a>Mine prosjekter</a> for å legge til relevant informasjon.</div>
                </div>

            </div>


        </div>
    </div>
</div>
