<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/Content/Images/favicon.png" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @RenderSection("css", required: false)

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "b1cce17a-47fb-471a-a7f7-89f8e3975a87"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>

<body>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Geomatikk CV", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Navigasjon <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="~/Personal/">Personlig Informasjon</a></li>
                            <li><a href="~/Expertise/">Nøkkelkompetanse</a></li>

                                <li><a href="~/Education/">Utdannelse</a></li>
                                <li><a href="~/Work/">Arbeidserfaring</a></li>
                                <li><a href="~/MyProjects/">Prosjekter</a></li>
                            
                            <li class="divider"></li>
                            <li><a href="~/Settings/">Innstillinger</a></li>
                            <li class="divider"></li>
                            <li><a href="~/Download/Pdf">Last ned CV</a></li>
                        </ul>



                    </li>

                    <li>@Html.ActionLink("Feedback", "Index", "Feedback")</li>

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Employees/">Ansatte</a></li>
                                <li><a href="~/AdminRoles/">Roller</a></li>
                                <li class="divider"></li>
                                <li><a href="~/NewProject/">Opprett Prosjekt</a></li>
                                <li><a href="~/Projects/">Prosjekter</a></li>
                                <li class="divider"></li>
                                <li><a href="~/Search/">Søk</a></li>
                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </div>

    <div class="container body-content">

        @RenderBody()


        <footer>

        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
