@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.CVVersjon

@{
    ViewBag.Title = "Nøkkelkompetanse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/expertise")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/expertise")
}

<div class="row">
    <div class="col-lg-12">



        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#programming-tab" aria-controls="programming-tab" role="tab" data-toggle="tab">Programmeringsspråk</a></li>
                <li role="presentation"><a href="#framework-tab" aria-controls="framework-tab" role="tab" data-toggle="tab">Rammeverk</a></li>
                <li role="presentation"><a href="#web-tech-tab" aria-controls="web-tech-tab" role="tab" data-toggle="tab">Web Teknologier</a></li>
                <li role="presentation"><a href="#database-tab" aria-controls="database-tab" role="tab" data-toggle="tab">Databasesystemer</a></li>
                <li role="presentation"><a href="#server-tab" aria-controls="server-tab" role="tab" data-toggle="tab">Serversystemer</a></li>
                <li role="presentation"><a href="#os-tab" aria-controls="os-tab" role="tab" data-toggle="tab">Operativsystemer</a></li>
                <li role="presentation"><a href="#other-tab" aria-controls="other-tab" role="tab" data-toggle="tab">Annet</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="programming-tab">

                    @Html.Partial("_TabInnhold", new ViewDataDictionary { { "Tab", "Programmeringsspråk" } })

                </div>

                <div role="tabpanel" class="tab-pane" id="framework-tab">

                    @Html.Partial("_TabInnhold", new ViewDataDictionary { { "Tab", "Rammeverk" } })

                </div>

                <div role="tabpanel" class="tab-pane" id="web-tech-tab">

                    @Html.Partial("_TabInnhold", new ViewDataDictionary { { "Tab", "WebTeknologier" } })

                </div>

                <div role="tabpanel" class="tab-pane" id="database-tab">

                    @Html.Partial("_TabInnhold", new ViewDataDictionary { { "Tab", "Databasesystemer" } })

                </div>

                <div role="tabpanel" class="tab-pane" id="server-tab">

                    @Html.Partial("_TabInnhold", new ViewDataDictionary { { "Tab", "Serverside" } })

                </div>

                <div role="tabpanel" class="tab-pane" id="os-tab">

                    @Html.Partial("_TabInnhold", new ViewDataDictionary { { "Tab", "Operativsystemer" } })

                </div>

                <div role="tabpanel" class="tab-pane" id="other-tab">
                    
                    @Html.Partial("_TabInnhold", new ViewDataDictionary { { "Tab", "Annet" } })

                </div>

            </div>
        </div>
    </div>
</div>