@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.CVVersjon

@{
    ViewBag.Title = "Min CV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/cv")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/cv")
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Legg til</h4>
            </div>
            <div id="modalAddText" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="modalDontAddItem" type="button" class="btn btn-default" data-dismiss="modal">Ikke legg til</button>
                <button id="modalAddItem" type="button" class="btn btn-success">Legg til</button>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-success cv-nav-btn">Personlig informasjon</button>
        <button type="button" class="btn btn-default cv-nav-btn">Nøkkelkompetanse</button>
        <button type="button" class="btn btn-default cv-nav-btn">Utdannelse</button>
        <button type="button" class="btn btn-default cv-nav-btn">Arbeidserfaring</button>
        <button type="button" class="btn btn-default cv-nav-btn">Prosjekter</button>
    </div>

    <div class="btn-group col-lg-offset-1">
        <button type="button" id="download-button" class="btn btn-success">@Html.ActionLink("Last ned PDF", "Pdf", "Download", null, new { @id = "download-link" })</button>
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a>PDF</a></li>
            <li><a>Word</a></li>
        </ul>
    </div>
</div>

<hr />

<div id="personal-info-panel" class="row cv-div cv-current">
    <div class="container">
        <h1 class="col-lg-offset-1">Personlig informasjon</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Fornavn</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Fornavn" id="@Html.DisplayNameFor(m => Model.Person.Fornavn)-txt" placeholder="Fornavn">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Etternavn</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Etternavn" id="@Html.DisplayNameFor(m => Model.Person.Etternavn)-txt" placeholder="Etternavn">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Stilling</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.Stilling" id="@Html.DisplayNameFor(m => Model.Person.Stilling)-txt" placeholder="Stilling">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>År erfaring</label>
                            <input type="text" class="form-control update-txt" value="@Model.Person.ÅrErfaring" id="@Html.DisplayNameFor(m => Model.Person.ÅrErfaring)-txt" placeholder="År erfaring">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="col-lg-offset-1">Språk</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input id="@Html.DisplayNameFor(m => Model.Person.Språk)-auto" type="text" class="form-control add-item-auto" placeholder="Legg til et nytt språk" data-provide="typeahead" autocomplete="off">
                        </div>
                        <div class="col-lg-1">
                            <button id="@Html.DisplayNameFor(m => Model.Person.Språk)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="@Html.DisplayNameFor(m => Model.Person.Språk)-group" class="col-lg-12 added-btn-group">
                            @if (!string.IsNullOrEmpty(Model.Person.Språk))
                            {
                                foreach (var value in Model.Person.Språk.Split(';'))
                                {
                                    <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="expertise-info-panel" class="row cv-div hidden">

    <div class="container">
        <h1 class="col-lg-offset-1">Programmeringsspråk</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input id="@Html.DisplayNameFor(m => Model.Kompetanse.Programmeringsspråk)-auto" type="text" class="form-control add-item-auto" placeholder="Legg til et nytt programmeringsspråk" data-provide="typeahead" autocomplete="off">
                        </div>
                        <div class="col-lg-1">
                            <button id="@Html.DisplayNameFor(m => Model.Kompetanse.Programmeringsspråk)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="@Html.DisplayNameFor(m => Model.Kompetanse.Programmeringsspråk)-group" class="col-lg-12 added-btn-group">
                            @if (!string.IsNullOrEmpty(Model.Kompetanse.Programmeringsspråk))
                            {
                                foreach (var value in Model.Kompetanse.Programmeringsspråk.Split(';'))
                                {
                                    <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="col-lg-offset-1">Rammeverk</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input id="@Html.DisplayNameFor(m => Model.Kompetanse.Rammeverk)-auto" type="text" class="form-control add-item-auto" placeholder="Legg til et nytt rammeverk" data-provide="typeahead" autocomplete="off">
                        </div>
                        <div class="col-lg-1">
                            <button id="@Html.DisplayNameFor(m => Model.Kompetanse.Rammeverk)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="@Html.DisplayNameFor(m => Model.Kompetanse.Rammeverk)-group" class="col-lg-12 added-btn-group">
                            @if (!string.IsNullOrEmpty(Model.Kompetanse.Rammeverk))
                            {
                                foreach (var value in Model.Kompetanse.Rammeverk.Split(';'))
                                {
                                    <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="col-lg-offset-1">Web-teknologier</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input id="@Html.DisplayNameFor(m => Model.Kompetanse.WebTeknologier)-auto" type="text" class="form-control add-item-auto" placeholder="Legg til en ny web-teknologi" data-provide="typeahead" autocomplete="off">
                        </div>
                        <div class="col-lg-1">
                            <button id="@Html.DisplayNameFor(m => Model.Kompetanse.WebTeknologier)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="@Html.DisplayNameFor(m => Model.Kompetanse.WebTeknologier)-group" class="col-lg-12 added-btn-group">
                            @if (!string.IsNullOrEmpty(Model.Kompetanse.WebTeknologier))
                            {
                                foreach (var value in Model.Kompetanse.WebTeknologier.Split(';'))
                                {
                                    <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="col-lg-offset-1">Databasesystemer</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input id="@Html.DisplayNameFor(m => Model.Kompetanse.Databasesystemer)-auto" type="text" class="form-control add-item-auto" placeholder="Legg til et nytt databasesystem" data-provide="typeahead" autocomplete="off">
                        </div>
                        <div class="col-lg-1">
                            <button id="@Html.DisplayNameFor(m => Model.Kompetanse.Databasesystemer)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="@Html.DisplayNameFor(m => Model.Kompetanse.Databasesystemer)-group" class="col-lg-12 added-btn-group">
                            @if (!string.IsNullOrEmpty(Model.Kompetanse.Databasesystemer))
                            {
                                foreach (var value in Model.Kompetanse.Databasesystemer.Split(';'))
                                {
                                    <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="col-lg-offset-1">Serverside</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input id="@Html.DisplayNameFor(m => Model.Kompetanse.Serverside)-auto" type="text" class="form-control add-item-auto" placeholder="Legg til ny serverside" data-provide="typeahead" autocomplete="off">
                        </div>
                        <div class="col-lg-1">
                            <button id="@Html.DisplayNameFor(m => Model.Kompetanse.Serverside)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="@Html.DisplayNameFor(m => Model.Kompetanse.Serverside)-group" class="col-lg-12 added-btn-group">
                            @if (!string.IsNullOrEmpty(Model.Kompetanse.Serverside))
                            {
                                foreach (var value in Model.Kompetanse.Serverside.Split(';'))
                                {
                                    <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="col-lg-offset-1">Operativsystemer</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-lg-10">
                            <input id="@Html.DisplayNameFor(m => Model.Kompetanse.Operativsystemer)-auto" type="text" class="form-control add-item-auto" placeholder="Legg til et nytt operativsystem" data-provide="typeahead" autocomplete="off">
                        </div>
                        <div class="col-lg-1">
                            <button id="@Html.DisplayNameFor(m => Model.Kompetanse.Operativsystemer)-btn" type="button" class="btn btn-success add-item-btn" tabindex="-1">Legg til</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div id="@Html.DisplayNameFor(m => Model.Kompetanse.Operativsystemer)-group" class="col-lg-12 added-btn-group">
                            @if (!string.IsNullOrEmpty(Model.Kompetanse.Operativsystemer))
                            {
                                foreach (var value in Model.Kompetanse.Operativsystemer.Split(';'))
                                {
                                    <button type="button" class="btn btn-info added-btn" tabindex="-1">@value</button>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="education-info-panel" class="row cv-div hidden">
    <div class="container">
        <h1 class="col-lg-offset-1">Utdannelse</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-lg-12">
                            <label>Utdannelse beskrivelse</label>
                            <input id="education-text" type="text" class="form-control" placeholder="Utdannelse beskrivelse" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Fra</span>
                            <select id="education-select-from" class="form-control">
                                @for (var i = 0; i < 70; i++)
                                {
                                    <option>@(@DateTime.Now.Year - i)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-4">
                        <div class="input-group">
                            <span class="input-group-addon">Til</span>
                            <select id="education-select-to" class="form-control">
                                @for (var i = 0; i < 70; i++)
                                {
                                    <option>@(@DateTime.Now.Year - i)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            <button id="education-add-btn" class="btn btn-success" type="button">Legg til ny utdannelse</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="education-group">
        @foreach (var value in Model.Utdannelse)
        {
            <div class="container">
                <div class="panel panel-info col-lg-10 col-lg-offset-1 added-panel">
                    <div class="panel-heading">@value.Fra - @value.Til</div>
                    <div class="panel-body">
                        <div>@value.Beskrivelse</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<div id="work-info-panel" class="row cv-div hidden">
    <div class="container">
        <h1 class="col-lg-offset-1">Arbeidserfaring</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">


                    <div class="form-group col-lg-12">
                        <label>Arbeidsplass</label>
                        <input id="text-work-place" type="text" class="form-control" placeholder="Arbeidsplass" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Rolle</label>
                        <input id="text-work-role" type="text" class="form-control" placeholder="Rolle" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Beskrivelse</label>
                        <input id="text-work-description" type="text" class="form-control" placeholder="Beskrivelse" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-12">
                        <div class="checkbox">
                            <label>
                                <input id="current-job-check" type="checkbox"> Nåværende posisjon
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Fra</span>
                            <select id="work-select-from" class="form-control">
                                @for (var i = 0; i < 70; i++)
                                {
                                    <option>@(@DateTime.Now.Year - i)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div id="select-job-year-to" class="form-group col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Til</span>
                            <select id="work-select-to" class="form-control">
                                @for (var i = 0; i < 70; i++)
                                {
                                    <option>@(@DateTime.Now.Year - i)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <button id="work-add-btn" class="btn btn-success" type="button">Legg til arbeidserfaring</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="work-group">
        @foreach (var value in Model.Arbeidserfaring)
        {
            <div class="container">
                <div class="panel panel-info col-lg-10 col-lg-offset-1 added-panel">
                    <div class="panel-heading">@value.Fra - @value.Til</div>
                    <div class="panel-body">
                        <div><strong>@value.Arbeidsplass</strong> - @value.Rolle</div>
                        <div><small>@value.Beskrivelse</small></div>
                    </div>
                </div>
            </div>
        }
    </div>

    </div>

<div id="projects-info-panel" class="row cv-div hidden">
    <div class="container">
        <h1 class="col-lg-offset-1">Prosjekter</h1>
        <div class="panel panel-default col-lg-10 col-lg-offset-1">
            <div class="panel-body">
                <div class="form-horizontal">


                    <div class="form-group col-lg-12">
                        <label>Kunde</label>
                        <input type="text" class="form-control" placeholder="Kunde" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Prosjekt navn</label>
                        <input type="text" class="form-control" placeholder="Prosjekt navn" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Rolle</label>
                        <input type="text" class="form-control" placeholder="Rolle" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Beskrivelse</label>
                        <input type="text" class="form-control" placeholder="Beskrivelse" autocomplete="off">
                    </div>

                    <div class="form-group col-lg-12">
                        <div class="checkbox">
                            <label>
                                <input id="current-project-check" type="checkbox"> Nåværende prosjekt
                            </label>
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Fra</span>
                            <select class="form-control">
                                @for (var i = 0; i < 80; i++)
                                {
                                    <option>@(@DateTime.Now.Year - i)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div id="select-project-year-to" class="form-group col-lg-12">
                        <div class="input-group">
                            <span class="input-group-addon">Til</span>
                            <select class="form-control">
                                @for (var i = 0; i < 80; i++)
                                {
                                    <option>@(@DateTime.Now.Year - i)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-lg-12">
                        <button class="btn btn-success" type="button">Legg til prosjekt</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="panel panel-info col-lg-10 col-lg-offset-1 added-panel">
            <div class="panel-heading">Fra - Til (Navn)</div>
            <div class="panel-body">
                <div><strong>Bedrift</strong> - Rolle</div>
                <div>Beskrivelse</div>
            </div>
        </div>
    </div>

</div>
