@using System.Web.Optimization

@model IEnumerable<GeoCV.Models.Prosjekt>

@{
    ViewBag.Title = "Prosjektoversikt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/ProsjekterIndex")
}
@section scripts{
    @Scripts.Render("~/bundles/js/ProsjekterIndex")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-folder"></i> Prosjektoversikt</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-filter"></i> Prosjekt filter</div>
                <div class="panel-body">

                    <input type="text" class="form-control" id="prosjekt-filter" placeholder="Filter">

                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-6">

            <div id="prosjekt-panel" class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-folder-open"></i> Prosjekter</div>
                <div class="panel-body">

                    <table id="prosjekt-tabell" class="table table-hover sortable">
                        <thead>
                            <tr>
                                <th data-sort="string">Kunde <i class="fa fa-sort pull-right"></i></th>
                                <th data-sort="string">Prosjekt navn <i class="fa fa-sort pull-right"></i></th>
                                <th data-sort="string">Beskrivelse <i class="fa fa-sort pull-right"></i></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Prosjekt in Model)
                            {
                                <tr id="@Prosjekt.ProsjektId" data-prosjektid="@Prosjekt.ProsjektId" data-kunde="@Prosjekt.Kunde" data-navn="@Prosjekt.Navn" data-beskrivelse="@Prosjekt.Beskrivelse">
                                    <td class="col-lg-3 prosjekt-td" data-prosjektid="@Prosjekt.ProsjektId" data-tdfelt="kunde">@Prosjekt.Kunde</td>
                                    <td class="col-lg-3 prosjekt-td" data-prosjektid="@Prosjekt.ProsjektId" data-tdfelt="navn">@Prosjekt.Navn</td>
                                    <td class="col-lg-3"><div class="td-flex"><div class="prosjekt-td" data-prosjektid="@Prosjekt.ProsjektId" data-tdfelt="beskrivelse">@Prosjekt.Beskrivelse</div><i class="fa fa-chevron-right hidden"></i></div></td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
            </div>

        </div>

        <div class="col-lg-4">

            @foreach (var Prosjekt in Model)
            {
                <div class="panel panel-success prosjekt-info-panel hidden" data-prosjektid="@Prosjekt.ProsjektId">
                    <div class="panel-heading"><div class="td-flex"><div><i class="fa fa-pencil-square"></i> Rediger @Prosjekt.Navn</div><i class="fa fa-spinner fa-spin hidden"></i></div></div>
                    <div class="panel-body">

                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Navn</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" value="@Prosjekt.Navn" autocomplete="off" data-prosjektid="@Prosjekt.ProsjektId" data-tekstfelt="navn">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Kunde</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" value="@Prosjekt.Kunde" autocomplete="off" data-prosjektid="@Prosjekt.ProsjektId" data-tekstfelt="kunde">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Beskrivelse</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" value="@Prosjekt.Beskrivelse" autocomplete="off" data-prosjektid="@Prosjekt.ProsjektId" data-tekstfelt="beskrivelse">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>

        <div class="col-lg-2">

            @foreach (var Prosjekt in Model)
            {
                <div class="panel panel-primary prosjekt-info-panel hidden" data-prosjektid="@Prosjekt.ProsjektId">
                    <div class="panel-heading"><i class="fa fa-external-link"></i> Tekniske profiler</div>
                    <div class="panel-body">
                        <a href="/TekniskeProfiler/?ProsjektId=@Prosjekt.ProsjektId"><button type="button" class="btn btn-primary col-lg-12">Gå til tekniske profiler</button></a>
                    </div>
                </div>

                <div class="panel panel-danger prosjekt-info-panel slett-panel hidden" data-prosjektid="@Prosjekt.ProsjektId">
                    <div class="panel-heading"><div class="td-flex"><div><i class="fa fa-trash"></i> Slett</div><i class="fa fa-spinner fa-spin hidden"></i></div></div>
                    <div class="panel-body">

                        <div class="col-lg-12">
                            <button type="button" class="btn btn-danger col-lg-12 slett-prosjekt" data-prosjektid="@Prosjekt.ProsjektId">Slett</button>
                        </div>

                        <div class="col-lg-12 bekreftelses-rad hidden">
                            <button type="button" class="btn btn-danger col-lg-5 bekreft-slett" data-prosjektid="@Prosjekt.ProsjektId">Bekreft</button>
                            <button type="button" class="btn btn-success col-lg-5 col-lg-offset-2 avbryt-slett">Avbryt</button>
                        </div>


                    </div>
                </div>
            }
        </div>

    </div>
</div>
