<div class="form-group">

        <label class="col-lg-6">@ViewData["Setting"]</label>

        <div class="btn-group col-lg-6" data-toggle="buttons">
            <label class="btn btn-primary active">
                <input type="radio" name="@ViewData["Setting"]-options" id="@ViewData["Setting"]-show" autocomplete="off" checked> Vis
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="@ViewData["Setting"]-options" id="@ViewData["Setting"]-hide" autocomplete="off"> Skjul
            </label>
        </div>

</div>