<div class="form-group">

    <label class="col-lg-6">@ViewData["Setting"]</label>

    <div class="btn-group col-lg-6" data-toggle="buttons">
        <label class="btn btn-primary @(Model ? Html.Raw("active") : Html.Raw(""))">
            <input type="radio" name="@ViewData["Setting"]-options" id="@ViewData["Setting"]-show" value="show" autocomplete="off" @(Model ? Html.Raw("checked") : Html.Raw(""))> Vis
        </label>
        <label class="btn btn-primary @(Model ? Html.Raw("") : Html.Raw("active"))">
            <input type="radio" name="@ViewData["Setting"]-options" id="@ViewData["Setting"]-hide" value="hide" autocomplete="off" @(Model ? Html.Raw("") : Html.Raw("checked"))> Skjul
        </label>
    </div>

</div>