@using System.Web.Optimization
@using System.Web.Mvc
@using Microsoft.AspNet.Identity

@model GeoCV.Models.CVVersjon

@{
    ViewBag.Title = "Innstillinger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/settings")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/settings")
}

<div class="content">
    <div class="row">

        <div class="col-lg-4">

            <h2>Personlig</h2>

            <hr />

            <form class="form-horizontal">

                @Html.Partial("_Partial", Model.Innstillinger.Fornavn, new ViewDataDictionary { { "Setting", "Fornavn" } })

                @Html.Partial("_Partial", Model.Innstillinger.Mellomnavn, new ViewDataDictionary { { "Setting", "Mellomnavn" } })

                @Html.Partial("_Partial", Model.Innstillinger.Etternavn, new ViewDataDictionary { { "Setting", "Etternavn" } })

                @Html.Partial("_Partial", Model.Innstillinger.Stilling, new ViewDataDictionary { { "Setting", "Stilling" } })

                @Html.Partial("_Partial", Model.Innstillinger.ÅrErfaring, new ViewDataDictionary { { "Setting", "År Erfaring" } })

                @Html.Partial("_Partial", Model.Innstillinger.Språk, new ViewDataDictionary { { "Setting", "Språk" } })

                @Html.Partial("_Partial", Model.Innstillinger.Nasjonalitet, new ViewDataDictionary { { "Setting", "Nasjonalitet" } })

                @Html.Partial("_Partial", Model.Innstillinger.Fødselsår, new ViewDataDictionary { { "Setting", "Fødselsdato" } })

            </form>

        </div>

        <div class="col-lg-4">

            <h2>Kompetanse</h2>

            <hr />

            <form class="form-horizontal">

                @Html.Partial("_Partial", Model.Innstillinger.Programmeringsspråk, new ViewDataDictionary { { "Setting", "Programmeringsspråk" } })

                @Html.Partial("_Partial", Model.Innstillinger.Rammeverk, new ViewDataDictionary { { "Setting", "Rammeverk" } })

                @Html.Partial("_Partial", Model.Innstillinger.WebTeknologier, new ViewDataDictionary { { "Setting", "Web Teknologier" } })

                @Html.Partial("_Partial", Model.Innstillinger.Databasesystemer, new ViewDataDictionary { { "Setting", "Databasesystemer" } })

                @Html.Partial("_Partial", Model.Innstillinger.Serverside, new ViewDataDictionary { { "Setting", "Serverside" } })

                @Html.Partial("_Partial", Model.Innstillinger.Operativsystemer, new ViewDataDictionary { { "Setting", "Operativsystemer" } })

                @Html.Partial("_Partial", Model.Innstillinger.Annet, new ViewDataDictionary { { "Setting", "Annet" } })

            </form>

        </div>


        <div class="col-lg-4">

            <h2>Diverse</h2>

            <hr />

            <form class="form-horizontal">

                @Html.Partial("_Partial", Model.Innstillinger.Utdannelse, new ViewDataDictionary { { "Setting", "Utdannelse" } })

                @Html.Partial("_Partial", Model.Innstillinger.Arbeidserfaring, new ViewDataDictionary { { "Setting", "Arbeidserfaring" } })

                @Html.Partial("_Partial", Model.Innstillinger.Prosjekter, new ViewDataDictionary { { "Setting", "Prosjekter" } })

            </form>

        </div>

        

    </div>

</div>



