@using System.Web.Optimization

@model IEnumerable<GeoCV.Models.ListeKatalog>

@{
    ViewBag.Title = "Database legg til";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/DatabaseLeggTil")
}
@section scripts{
    @Scripts.Render("~/bundles/js/DatabaseLeggTil")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-database"></i> Legg til i database</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-3">

            <div id="katalog-panel" class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-folder"></i> Velg katalog</div>
                <ul class="list-group">
                    @{
                        int KatalogNr = 0;
                    }
                    @foreach (var Katalog in Model.Select(x => x.Katalog).Distinct())
                    {
                        if (KatalogNr.Equals(0))
                        {
                            <li class="list-group-item list-group-item-info" data-katalog="@Katalog">@Katalog</li>
                        }
                        else
                        {
                            <li class="list-group-item" data-katalog="@Katalog">@Katalog</li>
                        }

                        KatalogNr++;
                    }
                </ul>

            </div>

        </div>

        <div class="col-lg-5">
            <div class="panel panel-primary nytt-element-panel">
                <div class="panel-heading"><i class="fa fa-plus-square"></i> Nytt element</div>
                <div class="panel-body">
                    <input id="new-item-txt" type="text" class="form-control" autocomplete="off" placeholder="Navn">
                    <button id="add-item-btn" type="button" class="btn btn-primary">Legg til</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div id="historikk-panel" class="panel panel-success">
                <div class="panel-heading"><i class="fa fa-history"></i> Historikk</div>
                <div class="panel-body">
                    <div id="historikk-ingen">Ingen nye elementer lagt til</div>
                </div>
            </div>
        </div>

    </div>
</div>
