@using System.Web.Optimization

@model IEnumerable<GeoCV.Models.ListeKatalog>

@{
    ViewBag.Title = "Rediger database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/database")
}
@section scripts{
    @Scripts.Render("~/bundles/js/database")
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><i class="fa fa-database"></i> Rediger database</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2">

            <div class="panel panel-primary filter-panel">
                <div class="panel-heading"><i class="fa fa-filter"></i> Database filter</div>
                <div class="panel-body">

                    <input id="filter-txt" type="text" class="form-control" placeholder="Filter" autocomplete="off">

                    <ul id="filter-group" class="list-group">
                        @foreach (var Katalog in Model.Select(x => x.Katalog).Distinct())
                        {
                            <li class="list-group-item">@Katalog</li>
                        }
                    </ul>



                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <div id="database-panel" class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-database"></i> Database</div>
                <div class="panel-body">

                    <table id="database-tabell" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th data-sort="string">Element <i class="fa fa-sort pull-right"></i></th>
                                <th data-sort="string">Katalog <i class="fa fa-sort pull-right"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Element in Model)
                            {
                                <tr id="@Element.ListeKatalogId" data-elementid="@Element.ListeKatalogId" data-katalog="@Element.Katalog" data-element="@Element.Element">
                                    <td class="element-td col-lg-5" data-id="@Element.ListeKatalogId" data-element="@Element.Element">@Element.Element</td>
                                    <td class="katalog-td col-lg-5">@Element.Katalog</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>



        <div class="col-lg-4">

            @foreach (var Element in Model)
            {
                <div class="panel panel-primary element-panel hidden" data-elementid="@Element.ListeKatalogId">
                    <div class="panel-heading">@Element.Element</div>
                    <div class="panel-body">

                        <div class="form-horizontal">

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Element</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control update-txt col-lg-10" value="@Element.Element">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="button" class="btn btn-danger slett-element-btn" data-elementid="@Element.ListeKatalogId">Slett</button>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            }

            

        </div>
    </div>
</div>
