@model GeoCV.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section css{
    @Styles.Render("~/bundles/css/manage")
}
@section scripts{
    @Scripts.Render("~/bundles/js/manage")
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
