@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.CVVersjon

@{
    ViewBag.Title = "Arbeidserfaring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/work")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/work")
}

<div class="row">
    <div class="col-lg-12">


        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#my-work-tab" aria-controls="my-work-tab" role="tab" data-toggle="tab">Min Arbeidserfaring</a></li>
                <li role="presentation"><a href="#new-work-tab" aria-controls="new-work-tab" role="tab" data-toggle="tab">Legg Til Arbeidserfaring</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="my-work-tab">

                    @foreach (var Value in Model.Arbeidserfaring)
                    {
                        @Value.Arbeidsplass <br />
                        @Value.Beskrivelse    <br />
                        @Value.Stilling    <br />
                        @Value.Fra    <br />
                        @Value.Til
                    }

                </div>

                <div role="tabpanel" class="tab-pane" id="new-work-tab">

                    <div class="form-horizontal">


                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>Arbeidsplass</label>
                                <input id="text-work-place" type="text" class="form-control" placeholder="Arbeidsplass" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>Stilling</label>
                                <input id="text-work-role" type="text" class="form-control" placeholder="Stilling" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <label>Beskrivelse</label>
                                <input id="text-work-description" type="text" class="form-control" placeholder="Beskrivelse" autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            <div class="input-group">
                                <span class="input-group-addon">Fra</span>
                                <select id="work-select-from" class="form-control">
                                    @for (var i = 0; i <= 100; i++)
                                    {
                                        <option>@(@DateTime.Now.Year - i)</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-lg-2">
                            <div class="input-group">
                                <span class="input-group-addon">Til</span>
                                <select id="work-select-to" class="form-control">
                                    @for (var i = 0; i <= 100; i++)
                                    {
                                        <option>@(@DateTime.Now.Year - i)</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-12">
                                <button id="work-add-btn" class="btn btn-success" type="button">Legg til arbeidserfaring</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>


    </div>
</div>






