@using System.Web.Optimization
@using Microsoft.AspNet.Identity

@model GeoCV.Models.WorkModel

@{
    ViewBag.Title = "Arbeidserfaring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/Bundles/css/work")
}
@section scripts{
    @Scripts.Render("~/Bundles/js/work")
}

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Rediger</h4>
            </div>
            <div id="EditModalAddText" class="modal-body">

                <div id="nåværendeTekst"></div>
                <h4 id="editLoader">Jobber <i class="fa fa-spinner fa-spin"></i></h4>
                <input id="edit-txt" type="text" class="form-control" autocomplete="off">
                <select id="modal-select" class="form-control">
                    @for (var i = 0; i <= 70; i++)
                    {
                        <option>@(@DateTime.Now.Year - i)</option>
                    }
                </select>

            </div>
            <div class="modal-footer">
                <button id="editmodalDontAddItem" type="button" class="btn btn-default" data-dismiss="modal">Avslutt (Esc)</button>
                <button id="editmodalAddItem" type="button" class="btn btn-success">Endre (Enter)</button>
            </div>
        </div>
    </div>
</div>

<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#my-work-tab" aria-controls="my-work-tab" role="tab" data-toggle="tab">Min arbeidserfaring</a></li>
        <li role="presentation"><a href="#new-work-tab" aria-controls="new-work-tab" role="tab" data-toggle="tab">Legg til arbeidserfaring</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="my-work-tab">
            <div class="row">
                <div class="col-lg-12">

                    <table id="work-table" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th data-sort="string">Arbeidsplass <i class="fa pull-right hidden"></i></th>
                                <th data-sort="string">Stilling <i class="fa pull-right hidden"></i></th>
                                <th data-sort="string">Beskrivelse <i class="fa pull-right hidden"></i></th>
                                <th data-sort="int">Fra <i class="fa pull-right hidden"></i></th>
                                <th data-sort="string">Til <i class="fa pull-right hidden"></i></th>
                                <th>Slett</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var Arbeid in Model.BrukerCv.Arbeidserfaring.Where(x => x.Nåværende.Equals(true)))
                            {
                                <tr id="@Arbeid.ArbeidserfaringId">
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Arbeidsplass" data-verdi="@Arbeid.Arbeidsplass" class="update-td col-lg-2">@Arbeid.Arbeidsplass</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Stilling" data-verdi="@Arbeid.Stilling" class="update-td col-lg-2">@Arbeid.Stilling</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Beskrivelse" data-verdi="@Arbeid.Beskrivelse" class="update-td col-lg-4">@Arbeid.Beskrivelse</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Fra" data-verdi="@Arbeid.Fra" class="update-td col-lg-1">@Arbeid.Fra</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Til" data-verdi="Nåværende" class="update-td col-lg-1">Nåværende</td>
                                    <td><a data-id="@Arbeid.ArbeidserfaringId" class="del-link col-lg-2">Slett</a></td>
                                </tr>
                            }

                            @foreach (var Arbeid in Model.BrukerCv.Arbeidserfaring.Where(x => x.Nåværende.Equals(false)).OrderByDescending(x => x.Til))
                            {
                                <tr id="@Arbeid.ArbeidserfaringId">
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Arbeidsplass" data-verdi="@Arbeid.Arbeidsplass" class="update-td col-lg-2">@Arbeid.Arbeidsplass</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Stilling" data-verdi="@Arbeid.Stilling" class="update-td col-lg-2">@Arbeid.Stilling</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Beskrivelse" data-verdi="@Arbeid.Beskrivelse" class="update-td col-lg-4">@Arbeid.Beskrivelse</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Fra" data-verdi="@Arbeid.Fra" class="update-td col-lg-1">@Arbeid.Fra</td>
                                    <td data-id="@Arbeid.ArbeidserfaringId" data-stilling="@Arbeid.Stilling" data-kolonne="Til" data-verdi="@Arbeid.Til" class="update-td col-lg-1">@Arbeid.Til</td>
                                    <td><a data-id="@Arbeid.ArbeidserfaringId" class="del-link col-lg-2">Slett</a></td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="new-work-tab">
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="text-work-place" class="col-lg-2 control-label">Arbeidsplass</label>
                    <div class="col-lg-8">
                        <input id="text-work-place" type="text" class="form-control" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="text-work-place" class="col-lg-2 control-label">Stilling</label>
                    <div class="col-lg-8">

                        <select id="select-work-role" class="form-control stilling-select">

                            @foreach (var Stilling in Model.Stillinger)
                            {
                                <option value="@Stilling.Element">@Stilling.Element</option>
                            }

                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label for="text-work-description" class="col-lg-2 control-label">Beskrivelse</label>
                    <div class="col-lg-8">
                        <input id="text-work-description" type="text" class="form-control" autocomplete="off">
                    </div>
                </div>

                <div class="form-group">
                    <label for="nåværende-radio-btn" class="col-lg-2 control-label">Nåværende stilling</label>
                    <div class="col-lg-8">
                        <div id="nåværende-radio-btn" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                                <input type="radio" name="nåværende-opt" id="nei-opt" value="false" autocomplete="off" checked> Nei
                            </label>
                            <label class="btn btn-primary">
                                <input type="radio" name="nåværende-opt" id="ja-opt" value="true" autocomplete="off"> Ja
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="work-select-from" class="col-lg-2 control-label">Fra</label>
                    <div class="col-lg-8">
                        <select id="work-select-from" class="form-control">
                            @for (var i = 0; i <= 100; i++)
                            {
                                <option>@(@DateTime.Now.Year - i)</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="work-select-to" class="col-lg-2 control-label">Til</label>
                    <div class="col-lg-8">
                        <select id="work-select-to" class="form-control">
                            @for (var i = 0; i <= 100; i++)
                            {
                                <option>@(@DateTime.Now.Year - i)</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-8 col-lg-offset-2">
                        <button id="work-add-btn" class="btn btn-success" type="button">Legg til arbeidserfaring</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>





















