@using System.Web.Optimization

@model IEnumerable<GeoCV.Models.Prosjekt>

@{
    ViewBag.Title = "Prosjekter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @Styles.Render("~/bundles/css/projects")
}
@section scripts{
    @Scripts.Render("~/bundles/js/projects")
}

<div class="container">
    <div class="row">

        <div class="form-group">
            <input type="text" class="form-control" id="search-project" placeholder="Søk etter prosjekt">
        </div>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <td>
                        <strong>Prosjekt</strong>
                    </td>
                    <td>
                        <strong>Kunde</strong>
                    </td>
                    <td>
                        <strong>Beskrivelse</strong>
                    </td>
                    <td>
                        <strong>Fra</strong>
                    </td>
                    <td>
                        <strong>Til</strong>
                    </td>
                </tr>
            </thead>

            <tbody>
                
                @foreach (var Item in Model)
                {
                        <tr href="~/EditProject/@Item.ProsjektId">
                            <td>@Item.Navn</td>
                            <td>@Item.Kunde</td>
                            <td>@Item.Beskrivelse</td>
                            <td>@Item.Fra</td>
                            <td>@Item.Til</td>
                        </tr>
                }

            </tbody>
        </table>

    </div>
</div>

